// Colors
$black: #000000;
$lightGreen: #83CC59;
$lightRed: #F65959;
$lightOrange: #F6A859;

// Fonts
$Arial: "Arial", sans-serif;

// Resolutions
$mobileScreen: 360px;
$tabletScreen: 768px;
$desktopScreen: 1024px;
$wideScreen: 1440px;