// Colors
$black: #000000;
$white: #ffffff;
$lightGreen: #83CC59;
$lightRed: #F65959;
$lightOrange: #F6A859;

// Fonts
$Arial: "Arial", sans-serif;

// Resolutions
$mobile: 360px;
$tablet: 768px;
$desktop: 1024px;
$wide: 1920px;