DB_DRIVER='postgres'
DSN='postgres://user:password@host:port/db_name?sslmode=disable'
APPADDRESS=':8080'
TELEGRAMBOTTOKEN=''
AIKEY=''
JWTSECRET=''
JWTLIFETIMESECONDS=86400
STARTSKILLCOST=100
SKILLADDITIONALCOEFFICIENT=1.13